# Node modules
node_modules/
**/node_modules/
.yarn-integrity

# Vite / VitePress build output
docs/.vitepress/dist/
docs/.vitepress/cache/

# Log files
*.log
yarn-debug.log*
yarn-error.log*
npm-debug.log*

# OS-specific files
.DS_Store
Thumbs.db

# Editor files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Temporary files
*.tmp
*.temp
*.swp
.Rproj.user
